:host
{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

header
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    padding: 1rem 5rem;

    .buttons
    {
        display: flex;
        gap: 50px;
    }
}

.content
{
    display: flex;
    flex-flow: row;
    justify-content: center;
}