<p>post-maker works!</p>

<app-maker-sidebar></app-maker-sidebar>

<div
    class="sub"
    *ngFor="let sub of subs"
>
    {{sub}}
</div>

<button (click)="addText()">Add Text</button>
<button (click)="addImage()">Add Image</button>
<button (click)="addVideo()">Add Video</button>

<div
    class="all"
    cdkDropListGroup
>
    <div
        class="tester"
        [cdkDropListData]="comps"
        cdkDropList
    >
        <ng-container *ngFor="let cmp of comps">
            <ng-container *ngIf="cmp.componentType.name=='SubVideoComponent'">
                <app-sub-video cdkDrag></app-sub-video>
            </ng-container>
            <ng-container *ngIf="cmp.componentType.name=='SubTextComponent'">
                <app-sub-text cdkDrag></app-sub-text>
            </ng-container>
            <ng-container *ngIf="cmp.componentType.name=='SubImageComponent'">
                <app-sub-image cdkDrag></app-sub-image>
            </ng-container>
        </ng-container>
    </div>

    <div
        class="texts"
        [cdkDropListData]="texts"
        (cdkDropListDropped)="drop($event)"
        cdkDropList
    >
        <ng-template #texts></ng-template>
    </div>

    <div class="grid">
        <div
            class="row"
            *ngFor="let row of rows; index as r"
        >
            <div
                class="col"
                *ngFor="let col of cols; index as c"
                cdkDropList
                [cdkDropListData]="holders[r][c]"
                (cdkDropListDropped)="drop($event)"
            >
                
                <ng-container *ngFor="let cmp of holders[r][c]">
                    <ng-container *ngIf="cmp.componentType.name=='SubVideoComponent'">
                        <app-sub-video cdkDrag></app-sub-video>
                    </ng-container>
                    <ng-container *ngIf="cmp.componentType.name=='SubTextComponent'">
                        <app-sub-text cdkDrag></app-sub-text>
                    </ng-container>
                    <ng-container *ngIf="cmp.componentType.name=='SubImageComponent'">
                        <app-sub-image cdkDrag></app-sub-image>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>